.App {
  width: 100%;
  margin: auto;
  padding: 2rem;
}

.App__title {
  text-align: center;
}

.App__mainContainer {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.App__container {
  width: 1000px;
}

.App__emailData {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}