.DonutChartLegend {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
}

.DonutChartLegend__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DonutChartLegend__label, .DonutChartLegend__amount {
    margin: 1rem 0;
}

.color__codes {
    position: relative;
    left: 23px;
}

.color__codes:before {
    content: '';
    position: absolute;
    left: -23px;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.color__codes.principal:before {
    background-color: DeepSkyBlue;
}

.color__codes.propertyTax:before {
    background-color: LightSkyBlue;
}

.color__codes.homeownersInsurance:before {
    background-color: SkyBlue;
}

.color__codes.PMI:before {
    background-color: PowderBlue;
}

.color__codes.HOAFees:before {
    background-color: PaleTurquoise;
}

@media only screen and (max-width: 425px) {

    .DonutChartLegend {
        padding: 1rem 0 0 0;
    }
}

@media only screen and (max-width: 375px) {

    .DonutChartLegend__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .DonutChartLegend__label, .DonutChartLegend__amount {
        margin: 0.25rem 1rem;
    }

    .DonutChartLegend__amount {
        margin-left: 2.3rem;
    }
}