.EmailForm {
    margin-top: 1.5rem;
    border-radius: 4px;
    background-color: rgba(135, 206, 235, 0.15); /* skyblue */
    padding: 0.5rem 0;
}

.EmailForm__header {
    margin: 0.5rem 1rem;
}

.EmailForm__container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1200px) and (min-width: 1001px) {

    .EmailForm__header {
        text-align: center;
        margin: 1rem;
    }

    .EmailForm__container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {

    .EmailForm__header {
        text-align: center;
        margin: 1rem;
    }

    .EmailForm__container {
        flex-direction: column;
    }
}