.AmortizationSchedule__title, .AmortizationSchedule__content {
    margin: 1rem 0;
}

.AmortizationSchedule__loanTotals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.5rem;
}

.AmortizationSchedule__container {
    margin: 1rem 0;
}

.AmortizationSchedule__label {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0;
    color: Gray;
}

.AmortizationSchedule__amount {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0;
    position: relative;
}

.AmortizationSchedule__amount:before {
    content: '$';
    position: absolute;
    left: -10px;
    top: 3px;
    font-size: 1rem;
    font-weight: bold;
}

.AmortizationSchedule__date {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0;
}

.AmortizationSchedule__LineChart__container {
    display: flex;
    align-items: center;
    width: 100%;
}

.AmortizationSchedule__LineChart {
    width: 100%;
}

@media only screen and (max-width: 1250px) {

    .AmortizationSchedule__LineChart {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {

    .AmortizationSchedule__loanTotals {
        flex-wrap: wrap;
    }

    .AmortizationSchedule__container {
        width: 50%;
    }

    .AmortizationSchedule__amount, .AmortizationSchedule__date {
        text-align: center;
    }

    .AmortizationSchedule__amount:before {
        left: 25%;
    }
    
    .AmortizationSchedule__LineChart__container {
        flex-direction: column;
    }

    .AmortizationSchedule__LineChart {
        width: 100%;
    }

    .AmortizationSchedule__divider {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {

    .AmortizationSchedule__amount:before {
        left: 24%;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 701px) {

    .AmortizationSchedule__container {
        width: unset;
    }

    .AmortizationSchedule__amount:before {
        left: -10px;
    }
}

@media only screen and (max-width: 700px) {

    .AmortizationSchedule__amount:before {
        left: 28%;
    }
}

@media only screen and (max-width: 615px) {

    .AmortizationSchedule__amount:before {
        left: 25%;
    }
}

@media only screen and (max-width: 550px) {

    .AmortizationSchedule__amount:before {
        left: 22%;
    }
}

@media only screen and (max-width: 500px) {

    .AmortizationSchedule__amount:before {
        left: 18%;
    }
}

@media only screen and (max-width: 450px) {

    .AmortizationSchedule__amount:before {
        left: 14%;
    }
}

@media only screen and (max-width: 400px) {

    .AmortizationSchedule__amount:before {
        left: 10%;
    }
}

@media only screen and (max-width: 370px) {

    .AmortizationSchedule__amount:before {
        left: 5%;
    }
}

@media only screen and (max-width: 350px) {

    .AmortizationSchedule__loanTotals {
        flex-direction: column;
    }

    .AmortizationSchedule__container {
        width: 100%;
        margin: 0.5rem 0;
    }

    .AmortizationSchedule__amount:before {
        left: 28%;
    }
}

@media only screen and (max-width: 320px) {

    .AmortizationSchedule__amount:before {
        left: 25%;
    }
}

@media only screen and (max-width: 280px) {

    .AmortizationSchedule__amount:before {
        left: 22%;
    }
}

@media only screen and (max-width: 260px) {

    .AmortizationSchedule__amount:before {
        left: 18%;
    }
}

@media only screen and (max-width: 230px) {

    .AmortizationSchedule__amount:before {
        left: 15%;
    }
}