.AmortizationSchedule__title, .AmortizationSchedule__content {
    margin: 1rem 0;
}

.AmortizationSchedule__loanTotals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.5rem;
}

.AmortizationSchedule__container {
    margin: 1rem 0;
}

.AmortizationSchedule__label {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0;
    color: Gray;
}

.AmortizationSchedule__amount {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0;
    position: relative;
}

.AmortizationSchedule__sign {
    font-size: 1rem;
    font-weight: bold;
}

.AmortizationSchedule__date {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0;
}

.AmortizationSchedule__LineChart__container {
    display: flex;
    align-items: center;
    width: 100%;
}

.AmortizationSchedule__LineChart {
    width: 100%;
}

@media only screen and (max-width: 1250px) {

    .AmortizationSchedule__LineChart {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {

    .AmortizationSchedule__loanTotals {
        flex-wrap: wrap;
    }

    .AmortizationSchedule__container {
        width: 50%;
    }

    .AmortizationSchedule__amount, .AmortizationSchedule__date {
        text-align: center;
    }
    
    .AmortizationSchedule__LineChart__container {
        flex-direction: column;
    }

    .AmortizationSchedule__LineChart {
        width: 100%;
    }

    .AmortizationSchedule__divider {
        display: none;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 701px) {

    .AmortizationSchedule__container {
        width: unset;
    }
}

@media only screen and (max-width: 450px) {

    .AmortizationSchedule__loanTotals {
        flex-direction: column;
    }

    .AmortizationSchedule__container {
        width: 100%;
        margin: 0.5rem 0;
    }
}