.DonutChart__tableData {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.DonutChart__overlay {
    width: 200;
    height: 200;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.DonutChart__overlay__title {
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
}

.DonutChart__overlay__payment {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
}

@media only screen and (max-width: 500px) {

    .DonutChart {
        width: 100%;
    }

    .DonutChart__overlay {
        top: 58%;
        transform: translate(-50%, -58%);
    }
}